.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  font-family: @font-family--heading;
  font-size: @font-size--small;
  font-weight: 600;
  letter-spacing: .15em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  color: @text-color;
  background-color: transparent;
  background-image: none;
  padding: 20px 40px;
  touch-action: manipulation;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform .3s;
    background: @text-color;
    content: '';
    z-index: -1;
  }

  &::before {
    opacity: .5;
    transition-delay: .175s;
  }

  &::after {
    transition-delay: 0s;
  }

  // &:hover {
  //   transition: background .3s .2s, color .3s;
  //   background: @text-color;
  //   color: @white;

  //   &::before {
  //     transform: translate3d(0, 100%, 0);
  //     transition-delay: 0s;
  //   }

  //   &::after {
  //     transform: translate3d(0, 100%, 0);
  //     transition-delay: .175s;
  //   }
  // }

  &:hover {
    opacity: .9;
  }

  &--submit-bg-dark {
    background-color: transparent;
    color: @white;
    border: 1px solid @white;
    padding: 18px 36px;

    &::before,
    &::after {
      content: '';
      background: @white;
    }

    &:hover {
      transition: background .3s .2s, color .3s;
      background: @white;
      color: @text-color;

      &::before {
        transform: translate3d(0, 100%, 0);
        transition-delay: 0s;
      }

      &::after {
        transform: translate3d(0, 100%, 0);
        transition-delay: .175s;
      }
    }
  }

  &--submit-bg-light {
    border: 1px solid @text-color;
  }

  &--main {
    border: 1px solid @green;
    background-color: @green;
    color: @white;

    span {

      @media (max-width: (@screen-xs - 1)) {
        display: block;
        line-height: 2em;
      }
    }

    // &::before,
    // &::after {
    //   background-color: @green;
    //   width: 100%;
    // }

    // &:hover {
    //   background-color: @green;
    //   color: @white;
    // }
  }

  &--c-blue {
    border: 1px solid rgb(94, 127, 170);
    background-color: rgb(94, 127, 170);
    color: @white;

  //   &::before,
  //   &::after {
  //     background-color: rgb(94, 127, 170);
  //     width: 100%;
  //   }

  //   &:hover {
  //     background-color: rgb(94, 127, 170);
  //     color: @white;
  //   }
  }
}