@width:               40px;
@height:              20px;
@line-size:           2px;
@line-radius:         @line-size;
@color:               @text-color;

.burger {
  position: relative;
  text-align: center;
  margin-left: auto;
  display: block;
  z-index: 10;
  cursor: pointer;
  width: @width;
  height: @height;
  margin-top: 1rem;

  @media (min-width: @screen-xs) {
    margin-top: 1.5rem;
  }

  @media (min-width: @screen-sm) {
    display: none;
  }

  &__icon {
    position: absolute;
    width: @width;
    height: @height;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      position: absolute;
      background-color: @color;
      width: 100%;
      height: @line-size;
      top: 50%;
      left: 0;
      border-radius: @line-radius;
      pointer-events: none;
      margin: auto;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        background-color: @color;
        width: 100%;
        height: @line-size;
        border-radius: @line-radius;
      }

      &::before {
        top: -7px;
      }

      &::after {
        bottom: -7px;
      }
    }
  }
}