.contacts {
  padding: .5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;

  @media (min-width: @screen-sm) {
    padding-bottom: 5rem;
  }

  &__subscribe-title {
    margin-top: 0;
  }

  &__subscribe-form {
    margin-top: 2rem;
    text-align: center;

    @media (min-width: @screen-sm) {
      text-align: left;
    }
  }

  &__subscribe-form-group {
    margin-bottom: 2rem;

    label {
      display: none;
    }

    input {
      display: block;
      text-align: center;
      font-family: @font-family--heading;
      font-size: 16px;
      width: 100%;
      height: 40px;
      background-color: transparent;
      background-image: none;
      color: @text-color;
      padding: 6px 12px;
      border: 0;
      border: 1px solid @text-color;
      border-radius: 0;
      line-height: 1.42857143;
      box-shadow: none;
      transition: .75s;

      &:hover,
      &:focus {
        outline: none;
        border-bottom: 1px solid @blue;
      }

      .btn[type="submit"] {
        background-color: transparent;
        border: 1px solid @text-color;
      }
    }
  }

  &__vkontakte {
    text-align: center;

    img {
      width: 100%;
    }
  }

  &__odnoklassniki {
    text-align: center;

    img {
      width: 100%;
    }
  }
}