.gallery {

  &__list {
    list-style-type: none;
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 200px;

    @media (min-width: @screen-sm) {
      height: 300px;
    }

    @media (min-width: @screen-md) {
      height: 350px;
    }
  }
}