.main-nav {
  padding-top: 1rem;
  display: none;

  @media (min-width: @screen-sm) {
    display: block;
  }

  &__list {
    list-style-type: none;
    display: table;
    margin-left: auto;
  }

  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: @font-family--heading;
    letter-spacing: .05em;
    margin: 0 .55em;

    @media (min-width: @screen-md) {
      margin: 0 .75em;
    }

    @media (min-width: @screen-lg) {
      margin: 0 1.25em;
    }
  }

  &__link {
    display: inline-block;
    padding: .5em 0;
    color: @text-color;
    transition: all 0.5s linear 0.1s;
    position: relative;
    letter-spacing: .015em;

    &::before,
    &::after {
      position: absolute;
      content: '';
      // background-color: @text-color;
      background: @blue;
      width: 0;
      height: 1px;
      transition: .5s;
    }

    &::before {
      bottom: 3px;
      left: 0;
    }

    &::after {
      bottom: 4px;
      right: 0;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &::before,
      &::after {
        width: 100%;
      }
    }
  }
}