.main-title {
  color: @text-color--light;
  line-height: 1.1em;
  max-width: 15em;
  margin: 0;
  font-weight: 700;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    bottom: -1rem;
    left: 0;
    background-color: @white;
    height: 1px;
    width: 30%;
  }
}