.mobile-nav {
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255,1);
  transform: translateY(-100%);
  top: 0;
  text-align: center;
  z-index: 4;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  transition: transform .7s cubic-bezier(.64,.06,.32,.98) .2s, box-shadow .3s linear .5s;

  @media (min-width: @screen-sm) {
    display: none;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin: .5em;
  }

  &__link {
    color: @text-color;
    font-family: @font-family--heading;
    text-transform: uppercase;
    padding: .25em;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .5rem;
    text-align: center;
    display: block;
    margin: auto;
  }

  &__close-icon {
    width: 40px;
    height: 40px;
    display: block;
    opacity: 0;
    transition: opacity .2s cubic-bezier(.64,.06,.32,.98) 1s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    span {
      background: @text-color;
      width: 25px;
      height: 2px;
      display: block;
      border-radius: 3px;
      transform: rotate(45deg);
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background: @text-color;
        width: 25px;
        height: 2px;
        display: block;
        border-radius: 3px;
        transform: rotate(90deg);
        position: relative;
      }
    }
  }

  &--is-open {
    transform: translateY(0);
    box-shadow: 0 3px 2px #777;

    .mobile-nav__close-icon {
      opacity: 1;
    }
  }
}