.order-tour {
  padding: .5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  // background-color: @bg--dark;
  background-color: @blue;

  &__content {
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: @screen-sm) {
      max-width: 25em;
    }
  }

  &__form {
    text-align: center;

    @media (min-width: @screen-sm) {
      padding: 1rem;
    }

    label {
      display: none;
    }
  }

  &__form-group {
    margin-bottom: 2rem;

    input {
      display: block;
      text-align: center;
      font-family: @font-family--heading;
      font-size: 16px;
      width: 100%;
      max-width: 25em;
      height: 40px;
      margin: auto;
      background-color: @white;
      background-image: none;
      color: @text-color;
      padding: 6px 12px;
      border: 0;
      border-bottom: 1px solid @text-color;
      border-radius: 0;
      line-height: 1.42857143;
      box-shadow: none;
      // transition: .5s;
      transition: .75s;

      &:hover,
      &:focus {
        outline: none;
        border-bottom: 1px solid @blue;
      }
    }
  }

  &__desc {
    font-size: @font-size--small;
    line-height: @line-height;
    margin: auto;
    margin-top: 2rem;
    text-indent: -0.4em;
    text-align: center;
  }
}