.other-tours {
  padding: .5rem;

  &__content {
    margin-top: 1.5rem;
    margin-bottom: .5rem;

    svg {
      display: none;
    }
  }

  &__item {
    width: 100%;
    height: 200px;
    margin: 0;
    text-align: center;
    margin-bottom: 3rem;
    background-color: #000;

    @media (min-width: @screen-sm) {
      margin-bottom: 4rem;
    }

    &:hover {

      img {
        opacity: .5;
        transform: scale3d(1.1,1.1,1);
      }

      .other-tours__item-layer {
        opacity: 1;
      }
    }
  }

  &__item-cover {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: opacity .7s linear 0s, transform .7s ease-in-out 0s;
    }
  }

  &__item-layer {
    position: absolute;
    z-index: 3;
    left: 50%;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
    min-width: 30%;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid @white;
    border-radius: 2px;
    color: @white;
    font-family: @font-family--heading;
    font-size: @font-size--small;
    transition: opacity .2s linear .4s, background .3s .2s, color .3s;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: .05em;

    &::before,
    &::after {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(0, 0, 0);
      transition: transform .3s;
      background: @white;
      content: '';
      z-index: -1;
    }

    &::before {
      opacity: .5;
      transition-delay: .175s;
    }

    &::after {
      transition-delay: 0s;
    }

    &:hover {
      transition: background .3s .2s, color .3s;
      background: @white;
      color: @text-color;

      &::before {
        transform: translate3d(0, 100%, 0);
        transition-delay: 0s;
      }

      &::after {
        transform: translate3d(0, 100%, 0);
        transition-delay: .175s;
      }
    }
  }

  figcaption {
    font-size: 16px;
    color: @text-color;
  }
}