.page-header {
  background-color: @white;
  margin: 0;
  padding-bottom: .5rem;
  border-bottom: 0;
  min-height: 4rem;
  position: relative;
  box-shadow: 0 3px 2px #777;
  z-index: 2;
  position: relative;

  @media (min-width: @screen-sm) {
    padding-top: .5rem;
  }

  &__mobile-contacts {
    background-color: @blue--light;
    padding-bottom: .5rem;
    margin-bottom: .5rem;

    @media (min-width: @screen-sm) {
      background-color: transparent;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__contacts {
    text-align: right;
    list-style-type: none;
    font-family: @font-family--heading;
    padding-top: .5rem;

    @media (min-width: @screen-sm) {
      margin-right: .55em;
    }

    li {
      display: inline-block;
      margin-left: 1.5rem;

      a {
        color: @text-color;
      }
    }
  }
}