.page-footer {
  // background-color: @bg--dark;
  background-color: @blue;
  padding: 1rem;

  &__copyright {
    text-align: center;
    // color: @white;
    color: @text-color;
    font-size: @font-size--small;
    margin: 0;
  }
}