.prices-and-dates {
  padding: .5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;

  &__content {
    max-width: 100%;
    margin: auto;

    @media (min-width: @screen-lg) {
      max-width: 60em;
      padding: 2rem;
    }
  }

  &__table {
    // display: none;
    display: table;
    font-size: 12px;
    font-family: @font-family--heading;

    @media (min-width: @screen-xs) {
      font-size: @font-size;
    }

    @media (min-width: @screen-sm) {
      display: table;
    }

    thead {
      font-family: @font-family--heading;

      th {
        border-bottom: 0;
        font-weight: 400;
        border-bottom: 1px solid @text-color;
        background-color: @blue;

        &:not(:first-child) {
          text-align: center;
        }
      }
    }

    tbody {

      tr {

        &:nth-child(2n) {
          // background-color: @bg--light;
          background-color: @blue--light;
        }

        td {

          &:not(:first-child) {
            text-align: center;
          }
        }
      }
    }
  }

  &__order {
    text-align: center;
    margin-top: 3rem;
  }
}