.promo {
  min-height: 35em;
  background-color: @bg--light;
  background-image: url(../images/bg--promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  margin-top: -2rem;
  position: relative;
  padding: 1rem;

  @media (min-width: @screen-md) {
    padding-top: 9rem;
  }

  &__content {
    position: absolute;
    top: 60%;
    left: 1rem;
    transform: translate(0, -50%);
    padding: 1rem;

    @media (min-width: @screen-xs) {
      left: 10%;
    }

    @media (min-width: @screen-md) {
      position: relative;
      transform: translate(0, 0);
      left: 0;
    }

    p {
      color: @text-color--light;
      max-width: 25em;
      font-size: 16px;
      line-height: @line-height;
    }
  }
}