.subtitle {
  margin-bottom: 1rem;
  position: relative;

  @media (min-width: @screen-sm) {
    text-align: center;
  }

  span {
    position: relative;

    @media (min-width: @screen-sm) {

      &::before,
      &::after {
        position: absolute;
        content: '';
        background-color: currentColor;
        top: .675em;
        width: 1.25em;
        height: 2px;
      }

      &::before {
        left: -2em;
      }

      &::after {
        right: -2em;
      }
    }
  }

  @media (min-width: @screen-sm) {
    text-align: center;
    margin-bottom: 3rem;
  }
}