.testimonials {
  padding: .5rem;
  // background-color: @bg--light;
  background-color: @blue--light;
  padding-top: 2rem;
  padding-bottom: 4rem;

  @media (min-width: @screen-sm) {
    padding-bottom: 6rem;
  }

  &__list {
    list-style-type: none;
  }

  &__content {
    margin: 0;
    max-width: 30em;

    @media (min-width: @screen-md) {
      padding: 0 .5rem;
    }
  }

  &__order {
    text-align: center;
    margin-top: 3rem;
  }
}