.tour-name {
  padding: .5rem;
  background-color: @white;
  position: relative;
  box-shadow: 0 -3px 2px #777;
  padding-top: 2rem;
  padding-bottom: 4rem;

  @media (min-width: @screen-sm) {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  &__content {
    max-width: 30em;
  }

  &__title {
    text-transform: uppercase;
  }

  &__services-list {
    padding-left: 1.15rem;

    li {

      &:not(:last-child) {
        margin-bottom: .5em;
      }

      @media (min-width: @screen-md) {

        &:not(:last-child) {
          margin-bottom: .25em;
        }
      }
    }
  }

  &__order {
    text-align: center;
    margin-top: 3rem;
  }
}