.tour-brief {
  padding: .5rem;
  z-index: 2;
  position: relative;
  // background: @bg--light;
  background-color: @blue--light;
  padding-top: 2rem;
  padding-bottom: 4rem;

  @media (min-width: @screen-md) {
    padding-bottom: 5rem;
  }

  &__content {
    max-width: 35em;
    text-align: left;

    @media (min-width: @screen-sm) {
      margin: auto;
    }

    ul {
      // padding-left: 1.15rem;
      list-style-type: none;

      li {
        position: relative;
        padding-left: 30px;

        &::before {
          position: absolute;
          content: '';
          top: 8px;
          left: 0;
          background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/check-mark.svg');
          background-size: cover;
          background-repeat: no-repeat;
          width: 12px;
          height: 12px;
        }
      }
    }

    @media (min-width: @screen-sm) {
      max-width: 35em;
    }

    @media (min-width: @screen-md) {
      max-width: 40em;
    }

    @media (min-width: @screen-lg) {
      max-width: 50em;
    }
  }

  &__order {
    text-align: center;
    margin-top: 3rem;
  }
}