@font-face {
  font-family: 'Lora';
  src: local('Lora'),
       local('Lora-Regular'),
       url('../fonts/Lora.woff2') format('woff2'),
       url('../fonts/Lora.woff') format('woff'),
       url('../fonts/Lora.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/sourcesanspro.woff2') format('woff2'),
       url('../fonts/sourcesanspro.woff') format('woff'),
       url('../fonts/sourcesanspro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../fonts/sourcesansprosemibold.woff2') format('woff2'),
       url('../fonts/sourcesansprosemibold.woff') format('woff'),
       url('../fonts/sourcesansprosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}