a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: @font-family;
  color: @text-color;
  font-size: @font-size;
  line-height: @line-height;

  @media (min-width: @screen-md) {
    font-size: @font-size--desktop;
    line-height: @line-height--desktop;
  }
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin-top: 1.414em;
  margin-bottom: .5em;
  line-height: 1.2;
  font-family: @font-family--heading;
}

h1 {
  font-size: @font-size--h1;
  margin-top: 0;
  font-weight: 600;
}

h2 {
  font-size: @font-size--h2;
  font-weight: 600;
}

h3 {
  font-size: @font-size--h4;
  font-weight: 600;

  @media (min-width: @screen-sm) {
    font-size: @font-size--h3;
  }
}

h4 {
  font-size: @font-size--h5;

  @media (min-width: @screen-sm) {
    font-size: @font-size--h4;
  }
}

h5 {
  font-size: @font-size--h5;
}

// h6 {
//   font-size: @font-size--h6;
// }

small {
  font-size: @font-size--small;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  margin: 0;

  p {
    text-indent: -0.4em;
  }
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;

  &:hover,
  &:focus {
    outline: none;
  }
}