// Width

@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1440px;
@screen-xxl:                  1920px;


// Colors

@black:                       hsl(0, 0%, 0%);
@gray-darkest:                hsl(0, 0%, 15%);
@gray-darker:                 hsl(0, 0%, 20%);
@gray-darken:                 hsl(0, 0%, 30%);
@gray-dark:                   hsl(0, 0%, 40%);
@gray:                        hsl(0, 0%, 50%);
@gray-light:                  hsl(0, 0%, 60%);
@gray-lighten:                hsl(0, 0%, 70%);
@gray-lighter:                hsl(0, 0%, 85%);
@gray-lightest:               hsl(0, 0%, 97%);
@white:                       hsl(0, 0%, 100%);

@text-color:                  #333;
@text-color--light:           #fbfbff;

@bg--dark:                    #4d4d4c;
@bg--light:                   #f2f2f2;

// @blue:                        #8597a1;
@blue:                        #81bdf2;
@blue--light:                 rgba(129,189,242, .3);
@green:                       #279e71;


// Typography

@font-size:                   100%;
@font-size--desktop:          112.5%;

@font-size--h1:               5.063em;
@font-size--h2:               3.375em;
@font-size--h3:               2.25em;
@font-size--h4:               1.5em;
@font-size--h5:               1rem;
@font-size--h6:               1rem;
@font-size--small:            0.707em;
@font-size--accent:           1.125rem;

@font-family:                 'Lora', 'Georgia', 'Times New Roman', serif;
@font-family--heading:        'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
@font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;

@line-height:                 1.45em;
@line-height--desktop:        1.5em;